body{
    background-color: black;
    font-family: 'Baloo 2', cursive;
}


.lio{
    color: #62e5ff;
    font-size:xx-large;
    font-weight: bold;
}

.port{
    font-size:xx-large;
    font-weight: bold;
    color: white;
}

.btn{
    background-color: #62e5ff;
}

.hello{
    color: #fcfc;
}

.ferdous{
    color: #62e5ff;
}

.jannatul{
    color: white;
}

.developer{
    color: white;
}

.about-me-para{
    color: #fcfc;
}

.about-me-fullstack{
    color: #62e5ff;
}

.skills{
    background-color: #62e5ff;
}